//- path = (route) // title = text

//-my feed need a route

- const navItems = [{path: '/MyFeed', title: 'Myfeed'}, {path: '/', title: 'Explorer'},{path: '/Cpost', title: 'Create'},{path: '/login', title: 'Login'}]

nav.snavb
  ul
  .navli_inline.navli_spacing
    each item in navItems
      li(class=currentPath === item.path ? 'active' : '')
        a(href=item.path)= item.title

//-     a(href="/") My Site
//- button(type="button" aria-label="Toggle navigation") ☰