extends layout

block content
  - console.log(data) // Debugging output
  .main-content
    h1.Explorer Explorer
    table(border=1)
      thead
        tr
          th Title
          th Created
      tbody
        each item in data
          tr
            td= item.title
            td= item.created_at