extends  layout
block content
   console.log(data)
   .Expl_con
    table(border=1)
      thead
        tr
          th Title
          th Description
          th Publish
      tbody
        each item in data
          tr
            td= item.Title
            td= item.description
            td= item.created