extends layout

block content
  .post_container
    h1 Post New Tip
    form.form_gp(action='/add-tip', method='POST')
      h2 Title
      textarea.postp_totitle(name='title', rows='2', cols='50' required)

      h2 Description
      textarea.postp_ta(name='tip', rows='6', cols='50' required)

      h2 Game
      select(name='gameID')
        option(value='1') Elden Ring
        option(value='2') Valorant
        option(value='3') Hollow Knight
        option(value='4') Overwatch 2
        option(value='5') Portal 2
        option(value='6') League of Legends

      div.button_div
        input.stbutton(type='submit', value='Submit')
