extends layout
block content
    -console.log(data)
    .main-content
    h1 Post new tip
    h2 Create post
    form(action ='/create-post', method='POST')
        input(type='hidden' name='id' value=post.id)
        textarea(name='description' rows = 6 cols= 200)
        div
        input(type='submit' value='SUBMIT')




