extends layout

block content
    div
    .post_container
        h1 Post New Tip
        h2 Create Post

        .form_wrapper
        form.form_gp(action='/add-tip', method='POST')
            h2 Title
            textarea.postp_totitle(name='title', rows='2', cols='50')

            h2 Description
            textarea.postp_ta(name='tip', rows='6', cols='200')

            .inscov

            div.button_div
                input.stbutton(type='submit', value='Submit')